#parse("/common/common.html")
#parse("/demo/header.html")
#parse("/demo/userinfo.html")
<div class="page-container row-fluid">
    #parse("/demo/slidebar.html")
    <div class="page-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">
                        查看<small>xxx</small>
                    </h3>
                    <!--面包屑-->
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="index.html">首页</a>
                            <i class="icon-angle-right"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("/demo/footer.html")