
<div class="footer">
    <div class="footer-inner">
        页脚声明
    </div>
    <div class="footer-tools">
				<span class="go-top">
					<i class="icon-angle-up"></i>
				</span>
    </div>
</div>

<script src="${base}/static/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="${base}/static/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="${base}/static/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="${base}/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="${base}/static/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="${base}/static/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="${base}/static/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="${base}/static/js/jquery.uniform.min.js" type="text/javascript" ></script>
<script src="${base}/static/js/jquery.flot.js"></script>
<script src="${base}/static/js/jquery.flot.resize.js"></script>
<script src="${base}/static/js/jquery.flot.pie.js"></script>
<script src="${base}/static/js/jquery.flot.stack.js"></script>
<script src="${base}/static/js/jquery.flot.crosshair.js"></script>
<script src="${base}/static/js/app.js"></script>
<script src="${base}/static/js/charts.js"></script>
<script>
    /**
     * 初始化
     */
    jQuery(document).ready(function() {
        App.init();
        Charts.init();
        Charts.initCharts();
        Charts.initPieCharts();
    });
</script>

<script type="text/javascript">
    var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);
    _gaq.push(['_setDomainName', 'keenthemes.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>