<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>模板</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="${base}/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="${base}/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="${base}/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="${base}/static/css/style-metro.css" rel="stylesheet" type="text/css">
    <link href="${base}/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="${base}/static/css/style-responsive.css" rel="stylesheet" type="text/css">
    <link href="${base}/static/css/default.css" rel="stylesheet" type="text/css" id="style_color">
    <link href="${base}/static/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/" />
</head>

<body class="page-header-fixed">