
    <div class="page-sidebar nav-collapse collapse">
        <ul class="page-sidebar-menu">
            <li>
                <div class="sidebar-toggler hidden-phone"></div>
            </li>
            <li>
                <form class="sidebar-search">
                    <div class="input-box">
                        <a href="/" class="remove"></a>
                        <input type="text" placeholder="Search..." />
                        <input type="button" class="submit" value=" " />
                    </div>
                </form>
            </li>
            <li class="start">
                <a href="/">
                    <i class="icon-home"></i>
                    <span class="title">首页</span>
                </a>
            </li>
            <li class="active">
                <a href="/">
                    <i class="icon-cogs"></i>
                    <span class="title">一级菜单</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li class="active">
                        <a href="/">二级菜单</a>
                    </li>
                    <li>
                        <a href="/">二级菜单</a>
                    </li>
                    <li>
                        <a href="/">二级菜单</a>
                    </li>
                    <li>
                        <a href="/">二级菜单</a>
                    </li>
                    <li>
                        <a href="/">二级菜单</a>
                    </li>
                    <li>
                        <a href="/">二级菜单x</a>
                    </li>
                </ul>
            </li>
            <li class="last active ">
                <a href="/">
                    <i class="icon-bar-chart"></i>
                    <span class="title">只有一级菜单</span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>
    </div>