<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/" alt="logo" />
            </a>
            <a href="/" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="/" alt="" />
            </a>
            <ul class="nav pull-right">
                <li class="dropdown" id="header_inbox_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-envelope"></i>
                        <span class="badge">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <li>
                            <p>未读消息</p>
                        </li>
                        <li>
                            <a href="/">
                                <span class="photo"><img src="/" alt="" /></span>
                                <span class="subject">
										<span class="from">黄</span>
										<span class="time">1分钟前</span>
									</span>
                                <span class="message">
										xxxxxxxxxxx
									</span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span class="photo"><img src="/" alt="" /></span>
                                <span class="subject">
									<span class="from">陈</span>
									<span class="time">1小时前</span>
								</span>
                                <span class="message">
									xxxxxxxx
								</span>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <span class="photo"><img src="/" alt="" /></span>
                                <span class="subject">
									<span class="from">曾</span>
									<span class="time">2017/12/30</span>
								</span>
                                <span class="message">
									xxxxxxxxx
								</span>
                            </a>
                        </li>
                        <li class="external">
                            <a href="/">查看所有信息<i class="m-icon-swapright"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" src="/" />
                        <span class="username">hzr</span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/"><i class="icon-user"></i>个人信息</a></li>
                        <li><a href="/"><i class="icon-calendar"></i>个人日历</a></li>
                        <li><a href="/"><i class="icon-envelope"></i>个人信箱</a></li>
                        <li class="divider"></li>
                        <li><a href="/"><i class="icon-lock"></i>锁屏</a></li>
                        <li><a href="/"><i class="icon-key"></i>退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>